@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

body{
    background: linear-gradient(-45deg, #8c00ff, #00aaff, #002486, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    height: 110vh;
}

#login-Container{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 2vh;
    width: 30%;
    box-shadow: rgba(3, 12, 96, 0.72) 10px 10px,
    rgb(4, 52, 154) 15px 20px;

    background: white;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: baseline;
}

#titleBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#textTitle{
    text-decoration-line: underline;
}

#login-Container:nth-child(1){
    font-size: xxx-large;
    text-align: center;
    padding: 2%;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10%;
}


#login-Container form{
    font-size: xx-large;

    width: 100%;
}

#frmForename-Container{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#frmForename{
    font-size: large;
    padding: 1%;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border-radius: 30px;
    line-height: inherit;
}

#surname-Container{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#frmSurname{
    font-size: 60%;
    padding: 1%;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border-radius: 30px;
    line-height: inherit;
}

#genderContainer{
    margin-top: 2%;

}

#date-Of-Birth-Container{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#frmDateOfBirth{
    font-size: medium;
    padding: 1%;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border-radius: 30px;
    line-height: 200%;
}

#date-Of-Birth-Container{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#age-Container{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#frmAge{
    font-size: medium;
    padding: 1%;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border-radius: 30px;
    line-height: 200%;
}

#courseContainer{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#courseContainer option{
    font-family: 'Playfair Display', serif;

}
#courseContainer select{
    font-family: 'Playfair Display', serif;

}

#frmCourse{
    font-size: medium;
    padding: 1%;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border-radius: 30px;
    line-height: 2;
}

#dateContainer{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#frmDateReg{
    font-size: medium;
    padding: 1%;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border-radius: 30px;
    line-height: 2;
}

#Sub{
    margin-top: 2%;
}

#SubButton{
    overflow:hidden;
    width: 80%;

    color: white;

    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border-radius: 30px;

    background: linear-gradient(-45deg, #8c00ff, #00aaff, #002486, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    cursor:pointer;
    line-height: 400%;
    font-size: 50%;

}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
