@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --yellow: #393d42;
    --redish: #F76C6C;
    --lightBlue: #A8D0E6;
    --blue: #374785;
    --fullblue: #24305E;
    --lessRed: #C35D69;
    --lavinder: #744764;

    --skoveloff: #006466;
    --midGreen: #065a60;
    --lateGreen: #0b525b;
    --emGreen: #144552;
    --darkGreen: #1b3a4b;
    --prussianBlue: #212f45;
    --Cadet: #272640;
    --darkPurple: #312244;
    --violet: #3e1f47;
    --DarkViolet: #4d194d;
}

body{
    margin:0;
    font-family: 'Cardo', serif;
}

#left{
    position: fixed;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleTextBox{

    max-width: 90%;
    position: absolute;
    z-index: 10;

    padding: 2%;

    box-shadow: black 10px 10px;
    background: var(--emGreen);

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#titleText{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    font-size: 2rem;
    color: white;
}



#slideShow{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#slideShow div{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
}

#picture1{
    animation: animate 20s linear;
    animation-iteration-count: 1;
}
#picture2{
    animation: animate 20s infinite 20s;
    animation-iteration-count: 1;
}
#picture3{
    animation: animate 20s linear 40s;
    animation-iteration-count: 1;
}

#picture4{
    animation: animate 20s linear 60s;
    animation-iteration-count: 1;
}

#picture5{
    animation: animate 20s linear 80s;
    animation-iteration-count: 1;
}

#picture6{
    animation: animate 20s infinite 100s;
}

/* Need to make these animations smother tbh, but alright for now*/
@keyframes animate {
    0% {
        opacity: 0.7;
        transform: scale(1.4);
    }
    20%{
        opacity: 1;
    }

    60%{
        opacity: 1;
    }
    100%{
        opacity: 0.7;
    }
}

/*Change this  */

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


#right{
    left: 50%;
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 2;

    background: linear-gradient(-45deg, var(--skoveloff), var(--DarkViolet));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;


    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#login-Container {

    visibility: visible;
    box-shadow: black 10px 10px;
    padding: 4%;
    background: white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    color: var(--skoveloff);
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
       transform: translateX(150%)
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
#aceLogo{
    font-size: 2rem;
}
#titleBox{
    text-decoration: underline;
}

#UserName-Container{
    padding: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#fname{

    font-size: 1.5rem;
    box-shadow: black 5px 5px;
    line-height: inherit;
}

#PassWord-Container{
    padding: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#password{
    font-size: 1.5rem;
    box-shadow: black 5px 5px;
    line-height: inherit;
}

#Sub{
    margin-top: 12%;
}

#SubButton{
    font-size: 1.7rem;
    min-width: 50%;
    padding: 2%;
    overflow:hidden;

    color: white;

    box-shadow: black 5px 5px;
    background: var(--emGreen);
    cursor:pointer;
}

#signUpBut{
    text-decoration: underline;
    margin-top: 7%;
}

#signUp-Container{

    position: absolute;
    visibility: hidden;
    color: var(--skoveloff);
    font-family: 'Oswald', sans-serif;

    box-shadow: black 10px 10px;
    padding: 4%;
    background: white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: left;
}


#aceLogoSignUp{
    font-size: 2rem;
    text-decoration: underline;
}

#signUpButton{
    font-size: 1.7rem;
    min-width: 50%;
    margin: 5%;
    padding: 2%;
    overflow:hidden;

    color: white;

    box-shadow: black 5px 5px;
    background: var(--emGreen);
    cursor:pointer;
}

.labelFont{
    font-size: 1rem;
}

.textArea{
    font-size: 1.5rem;
    box-shadow: black 5px 5px;
    line-height: inherit;
}

#loginButton{
    text-decoration: underline;
}

#course{
    font-family: 'Noto Sans', sans-serif;
}
.optionText{
    font-size: 1rem;
}

@media (max-device-width: 860px) {
    #left {
        visibility: hidden;
    }

    #right {
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
    }

    #fname{
        font-size: 3rem;
        padding: 1%;
        box-shadow: black 5px 5px;
        line-height: inherit;
    }

    #password{
        font-size: 3rem;
    }

    #SubButton{
        font-size: 3rem;
    }

    #titleBox{
        font-size: 4rem;
    }

    #login-Container{
        font-size: 3rem;
    }
}
