@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --black: #212221;
    --lightBlue: #26ACE2;
    --white: #FFFFFF;
}

body {
    background-color: #084356;
    background-image: url('/Assets/blobscenehaikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#left {
    position: fixed;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#titleText {
    color: var(--white);
    padding: 2%;
    text-transform: uppercase;
    font-size: 8rem;
}

#right {
    font-family: 'Open Sans', sans-serif;

    left: 50%;
    position: fixed;
    width: 50%;
    height: 100%;

    z-index: 2;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#login-Container {
    visibility: visible;
    
    box-shadow: rgba(0, 0, 0) 10px 10px; 
    padding: 2%;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    color: var(--black);
    text-align: center;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(150%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

#aceLogo {
    font-size: 2rem;
}

#UserName-Container {
    margin-right: auto;
    padding: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#nameish{
    font-size: 2rem; 
}

#fname {
    font-size: 2rem;
    border-radius: 5px;
    line-height: inherit;
}

#PassWord-Container {
    padding: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#passwordish{
    font-size: 2rem; 
}

#password {
    font-size: 2rem;
    border-radius: 5px;
    line-height: inherit;
}

#Sub {
    margin-top: 12%;
}

#SubButton {
    font-size: 1.5rem;
    min-width: 50%;
    padding: 2%;
    overflow: hidden;
    color: white;
    background: var(--black);
    cursor: pointer;
}

#signUpBut {
    text-decoration: underline;
    margin-top: 7%;
}

#signUp-Container {
    box-shadow: rgba(0, 0, 0) 10px 10px;

    position: absolute;
    visibility: hidden;
    color: var(--black);
    padding: 2%;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: left;
}


#aceLogoSignUp {
    font-size: 2rem;
}

#signUpButton {
    font-size: 1.5rem;
    min-width: 50%;
    margin: 5%;
    padding: 2%;
    overflow: hidden;
    color: white;
    background: var(--black);
    cursor: pointer;
}

.labelFont {
    font-size: 1rem;
}

.textArea {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    border-radius: 5px;
    line-height: inherit;
}

#loginButton {
    text-decoration: underline;
}

.optionText {
    font-size: 1rem;
}

@media (max-device-width: 1200px) {

    #titleText {
        max-width: 70%;
        color: var(--white);
        padding: 2%;
        text-transform: uppercase;
        font-size: 6rem;
    }
}

@media (max-device-width: 860px) {
    #left {
        visibility: hidden;
    }

    #right {
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
    }

    #fname {
        font-size: 3rem;
        padding: 1%;

        line-height: inherit;
    }

    #password {
        font-size: 3rem;
    }

    #SubButton {
        font-size: 3rem;
    }

    #titleBox {
        font-size: 4rem;
    }

    #login-Container {
        font-size: 3rem;
    }
}
