@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
    --black: #212221;
    --lightBlue: #26ACE2;
    --white: #FFFFFF;
}

body {
    background-color: #084356;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cccccc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23000000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23a3a3a3' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23292929' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%237a7a7a' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23525252' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23525252' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%237a7a7a' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23292929' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a3a3a3' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23000000' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23cccccc' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Josefin Slab', serif;
}

#left {
    position: fixed;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#titleText {
    color: var(--white);
    padding: 2%;
    text-transform: uppercase;
    font-size: 10rem;
}

#right {
    font-family: 'PT Mono', monospace;
    left: 50%;
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#login-Container {
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
    border-radius: 5px;
    padding: 4%;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    color: var(--black);
    text-align: center;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(150%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

#aceLogo {
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
}

#UserName-Container {
    margin-right: auto;
    padding: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#fname {
    font-family: 'PT Mono', monospace;
    font-size: 1.5rem;
    border-radius: 5px;
    line-height: inherit;
}

#PassWord-Container {
    padding: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#password {
    font-family: 'PT Mono', monospace;
    font-size: 1.5rem;
    border-radius: 5px;
    line-height: inherit;
}

#Sub {
    font-family: 'PT Mono', monospace;

    margin-top: 12%;
}

#SubButton {
    font-size: 1.7rem;
    min-width: 50%;
    padding: 2%;
    overflow: hidden;
    color: white;
    background: var(--black);
    cursor: pointer;
}

#signUpBut {
    text-decoration: underline;
    margin-top: 7%;
}

#signUp-Container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 5px;
    position: absolute;
    visibility: hidden;
    color: var(--black);
    padding: 4%;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: left;
}


#aceLogoSignUp {
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
}

#signUpButton {

    font-size: 1.7rem;
    min-width: 50%;
    margin: 5%;
    padding: 2%;
    overflow: hidden;
    color: white;
    background: var(--black);
    cursor: pointer;
}

.labelFont {
    font-size: 1rem;
}

.textArea {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    border-radius: 5px;
    line-height: inherit;
    font-family: 'PT Mono', monospace;

}

#loginButton {
    text-decoration: underline;
}

.optionText {
    font-size: 1rem;
}

@media (max-device-width: 1200px) {

    #titleText {
        max-width: 70%;
        color: var(--white);
        padding: 2%;
        text-transform: uppercase;
        font-size: 6rem;
    }
}

@media (max-device-width: 860px) {
    #left {
        visibility: hidden;
    }

    #right {
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
    }

    #fname {
        font-size: 3rem;
        padding: 1%;

        line-height: inherit;
    }

    #password {
        font-size: 3rem;
    }

    #SubButton {
        font-size: 3rem;
    }

    #titleBox {
        font-size: 4rem;
    }

    #login-Container {
        font-size: 3rem;
    }
}
