@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
    --black: #212221;
    --lightBlue: #26ACE2;
    --white: #FFFFFF;
}


body {
    font-family: 'Josefin Slab', serif;
    background: url('/Assets/Blob Group.svg');
    background-repeat: no-repeat;
    background-size: 150% 150%;
}

#welcomeBox {
    text-decoration: underline;
    margin-top: 2vh;
    margin-left: 5%;
    max-width: 65%;
    height: 10%;
    font-size: 2rem;
    color: var(--white);
}

#navBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
}

.navigationBox{
    text-align: center;
    width: 40vh;
    background: white;
    color: black;
    box-shadow: rgba(0, 0, 0) 10px 20px;
    font-size: 1.5rem;
}

#img1 {
    margin-top: auto;
    clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
    height: 80%;
    width: 100%;
}

#img1 img{
    height: auto;
    width: 100%;
}

#img2 {
    margin-top: auto;

    clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
    height: 80%;
    width: 100%;
}

#img2 img{
    height: auto;
    width: 100%;
}