@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --black: #212221;
    --lightBlue: #26ACE2;
    --white: #FFFFFF;
}
html{
    background: url('/Assets/Animated Shape.svg') no-repeat;
    background-size: auto 110% ;
}

body {
    font-family: 'Josefin Slab', serif;

    margin: 0;
}

#welcomeBox {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--white);
}

#welcomeBox h1{
    display: inline;
}

#navBox{
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.navigationBox{
    border: 5px solid black;
    margin: 1%;
    height: 35vh;
    position: relative;
    text-align: center;
    width: 25%;


}

.navigationBox p {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 2%;
    font-size: 2rem;
    background: black;
    color: white;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#learn{
    background-image: url("/Assets/learning.png");
    background-size: auto 100%;
}


#quiz{
    background-image: url("/Assets/quiz.png");
    background-size: auto 100%;
}


#account {
    background-image: url("/Assets/test.png");
    background-size: auto 100%;
}

#attendance{
    background-image: url("/Assets/attend.png");
    background-size: auto 100%;
}

#admin{
    background-image: url("/Assets/admin.png");
    background-size: auto 100%;
}

#logOut{
    background-image: url("/Assets/logOut.png");
    background-size: auto 100%;
}